@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap');

:root {
  --accent-1: #0D00FF;
  --accent-2: #070080;
  --bg-color: #020202;
  --panel-bg: #181A1E;
  --text-color: #ffffff;
  --width: 100%;
  --height: 100%;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--text-color);
  font-family: 'Oxanium', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  min-width: 100vw;
}

.background {
  /* background-color: var(--bg-color); */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-size: cover;
}


.card {
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}

.read-the-docs {
  color: #888;
}

.bigtext {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

.smalltext {
  padding-left: 3rem;
  padding-right: 3rem;
}

.introduction-text {
  padding: 2em;
  box-sizing: border-box;
  width: 60%;
}

.introduction-bigtext {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.project-bigtext {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
  width: 70%;
  max-width: 80ch;
}

.introduction-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-top: 2rem;
  width: 100%;
}

.introduction-pic {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  margin: 0 auto;
  background-color: #181A1E;
  max-width: 30vw;
  max-height: 30vw;
  height: auto;
  aspect-ratio: 1;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  overflow: hidden;
}

.introduction-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}


@media (max-width: 899px) {

  .introduction-box {
    flex-direction: column-reverse;
    text-align: center;
  }

  .introduction-text {
    width: 100%;
  }

  .introduction-pic {
    max-width: 50vw;
    max-height: 50vw;
  }
}