.article {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 300;
  gap: 1rem;
  overflow: hidden;
  border: 2px solid white;
  background-color: #020202;
  margin-bottom: 1rem;
}

.article img {
  width: 100%;
  height: auto;
  max-height: 1000px;
  min-height: 30vh;
  object-fit: cover;
  margin-bottom: 0.0rem;
}

.imagecontainer {
  display: flex;
  border: 2px solid white;
  width: 100%;
}

.article-projecttext {
  margin: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.article-readmore {
  font-size: 32px;
  align-self: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.article-projecttext h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.article-projecttext h3 {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.article-projecttext h2, .article-projecttext h3 {
  max-width: 80%;
}

.article-projecttext p {
  max-width: 140ch;
}
