.linkbarholderholder {
  background-color: #181A1E;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
}

.linkbarholder {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navlinkbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1400px;
}

.navlinkelement {
  flex: 1;
  text-align: center;
}

.topofnav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1400px;
}

nav {
  margin: 0;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  .navlinkelement { display: none; }
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}