.menuButton {
  flex: 1;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topofnav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1400px;
}

/* Burger styling */

.the-burg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.the-burg.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(-45deg);
}

.the-burg.active .bar:nth-child(2) {
  opacity: 0;
}

.the-burg.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(45deg);
}