.topprojectcontainer{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  text-align: left;
  border: 2px solid white;
  margin: 0;
  background-color: var(--panel-bg, #181A1E);
}

.topprojectcontainer img{
  object-fit: cover;
  margin-bottom: 0;
}

.projecttext {
  margin: 1rem;
  margin-top: 0.8rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.projecttext a {
  font-size: 32px;
  align-self: flex-end;
  padding-top: 1rem;
}

.projecttext h2{
  margin: 0 0 0.25rem 0;
  line-height: 1.15em;
  height: calc(1.15em * 2.5);
  overflow: hidden;
  display: block;
}

.projecttext h3{
  margin: 0 0 0.5rem 0;
  font-weight: 500;
  color: white;
}

.projecttext p{
  margin: 0.125rem 0;
}

.projecttext .tech-date {
  margin-top: auto;
}

.projecttext a {
  font-size: 32px;
  align-self: flex-end;
  padding-top: 1rem;
}

.project-alltext {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom left, var(--accent-1, #0D00FF), var(--accent-2, #070080));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
  width: 100%;
  height: 100%;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.split {
  width: 50%;
}

@media (max-width: 899px) {
  .split {
    width: 100%;
  }

  .topprojectcontainer {
    flex-direction: column;
  }

  .project-image {
    max-height: 45vw;
  }
}

@media (max-width: 600px) {

.projecttext h2 {
  font-size: 24px;
}

.projecttext h3 {
  font-size: 16px;
}

.projecttext p {
  font-size: 14px;
}

}